// custom styles not shipped w/ theme

.episodes-list {
  
  .episode {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 4px 1px gainsboro;

    .episode-content {
      flex: 1 0 80%;
      padding: 1rem 2rem 1rem 1rem;

      h2.episode-title {
        margin-top: 0;
      }

    }

    .episode-meta {
      flex: 1 0 20%;
      border-left: 1px solid gainsboro;
      padding: 1rem 1rem 1rem 2rem;
      font-size: 0.9rem;
    
      img.thumbnail {
        max-width: 150px;
        margin-bottom: 0;
      }

      h3.feed-title {
        font-size: 1.1rem;
        margin-top: 0.75rem;
      }

    }

  }

}