// custom styles not shipped w/ theme

// homepage

.episodes-list {
  
  .episode {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 4px 1px gainsboro;

    .episode-content {
      flex: 1 0 75%;
      padding: 1rem 2rem 1rem 1rem;

      h2.episode-title {
        margin-top: 0;
      }

    }

    .episode-meta {
      flex: 1 0 25%;
      border-left: 1px solid gainsboro;
      padding: 1rem 1rem 1rem 2rem;
      font-size: 0.9rem;
    
      img.thumbnail {
        max-width: 100%;
        margin-bottom: 0;
      }

      h3.feed-title {
        font-size: 1.1rem;
        margin-top: 0.75rem;
      }

    }

  }

}

// podcast layout page

.content {

  .flex {
    display: flex;

    .left-col {
      flex: 1 0 65%;
    }

    .right-col {
      flex: 1 0 35%;
      margin-left: 2.5rem;
    }

  }

}