---
layout: default
---

<header>
  <h1 class="page-title">{{ page.title }}</h1>
  <hr>
</header>
<div class="content">
  <div class="flex">
    <div class="left-col">
      <h2>Description</h2>
      <p class="description">{{ page.desc }}</p>
      <h2>Episodes</h2>
      <div class="episodes-list">
        {% for episode in page.episodes %}
          <div class="episode-is-preview">
            <h3 class="episode-title" id="{{ episode.title | slugify }}">{{ episode.title }}</h3>
            <datetime>{{ episode.pub_date | date_to_string }}</datetime>
            <p class="episode-desc">{{ episode.desc | truncatewords: 35 }}</p>
            <!-- <audio controls>
              <source src="{{ episode.audio }}" type='{{ episode.type }}'>
            </audio> -->
            <button><a href="{{ episode.audio }}">Listen</a></button>
            <hr>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="right-col">
      <img class="cvr-img" src="{{ page.cvr_img }}">
      <h3>At a glance</h3>
      <p class="">Last aired: {{ page.episodes.first.pub_date | date_to_string }}</p>
      <p class="">Total episodes: {{ page.episodes | size }}</p>
      <p class="">First aired: {{ page.episodes.last.pub_date | date_to_string }}</p>
    </div>
  </div>
</div>
